.wrap {
    background: url('../img/top/top-bg.png') left top repeat-x;
    position: relative;
    min-width: 320px;
}

button {
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.top {
    text-align: center;
    font-size: 0;
}

.top > div {
    display: inline-block;
}

.right-side {
    position: absolute;
    right: 3px;
}

.mid-side {
    text-align: center;
}

.left-side {
    position: absolute;
    left: 4px;
}

.right-side > img:nth-child(2) {
    margin-left: 7px;
    margin-right: 3px;
}

.left-side > img:nth-child(2) {
    margin-left: 3px;
    margin-right: 8px;
}

.ht-34 {
    height: 34px;
}

h1 {
    position: absolute;
    top: 9px;
    left: 11px;
    font-size: 0;
    width: 50px;
    overflow: hidden;
}

h1 > a {
    display: block;
    background: url('../img/header/kaist-logo.png') 0 0 no-repeat;
    padding-top: 17px;
}

h2 {
    line-height: 34px;
    position: relative;
}

h2 > img {
    vertical-align: middle;
    position: absolute;
    top: 11px;
    left: -8px;
}

#dif-position-lbry {
    top: 9px;
    left: -7px;
}

.btn-box-header {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 0;
}

.search-area {
    position: relative;
    background: url('../img/search-area/searcharea-bg.png') left center repeat-x;
}

.sa-2 {
    background: url('../img/search-area/search-area-2.png') left center repeat-x;
    height: 45px;
}

.search-input-wrap {
    font-size: 0;
    padding: 7px 42px 11px 10px;

}

.search-input-wrap > input,
.search-input-wrap > button {
    vertical-align: middle;
}

.search-input-wrap > button {
    font-size: 0;
    position: absolute;
    top: 7px;
    right: 10px;
}

.search-input-wrap > p {
    font-size: 11px;
    padding: 8px 0 0 1px;
}

.search-input-wrap > p > a {
    color: #5c7fb4;
}

.input-box-wrap {
    display: inline-block;
    width: 100%;
    height: 28px;
    vertical-align: middle;
    margin-right: 3px;
}

.input-box-wrap > input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 3px;
    border: 2px solid #0a3f9b;
}

.input-box-wrap > input:focus {
    border: 2px solid orange;
}

.cont-wrapper {
    padding: 16px 15px 0 15px;
    position: relative;
    background: linear-gradient(#ffffff, #ededed) no-repeat;
}

.cont-wrapper::after {
    content: "";
    display: block;
    clear: both;
}

.border-bottom {
    background: url('../img/contents/border-bottom.png') left bottom repeat-x;
    padding-bottom: 5px;
}

.border-bottom::after {
    content: "";
    display: block;
    clear: both;
}

.contents-wrap-1 {
    font-size: 0;
    float: left;
    padding-left: 9px;
}

.contents-wrap-2 {
    font-size: 11px;
    text-align: center;
    position: absolute;
    right: 19px;
    background: url('../img/contents/divider.png') left bottom no-repeat;
    padding-left: 16px;
    padding-bottom: 5px;
}

.contents-wrap-2 > a {
    color: #787878;
    background: url('../img/contents/arrow-bottom.png') right center no-repeat;
    padding-right: 9px;
}

.contents-wrap-1 > h3 {
    display: inline-block;
    font-size: 12px;
    position: relative;
    width: 100%;
    color: #1f419f;
}

.contents-wrap-1 > a {
    font-size: 11px;
    position: absolute;
    right: 111px;
    padding-right: 8px;
    color: #35577c;
    background: url('../img/contents/arrow-right.png') right center no-repeat;
}

.img-btn-wrap {
    margin: 0 auto;
    padding: 16px 7px 6px 7px;
}

.img-box-clear {
    font-size: 0;
}

.img-wrap {
    display: inline-block;
    width: 65px;
    text-align: center;
    font-size: 0;
    margin-right: 3px;
    margin-bottom: 15px;
}

.img-wrap > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #6b6b6b;
    padding-top: 63px;
    font-size: 11px;
}

.notice {
    background: url('../img/contents/notice-img.png') center top no-repeat;
}

.inf-lbry {
    background: url('../img/contents/library-img.png') center top no-repeat;
}

.reservation {
    background: url('../img/contents/date-img.png') center top no-repeat;
}

.my-lbry {
    background: url('../img/contents/library-2-img.png') center top no-repeat;
}

.pbook {
    background: url('../img/contents/pbook-img.png') center top no-repeat;
}

.jn {
    background: url('../img/contents/jn-img.png') center top no-repeat;
}

.data {
    background: url('../img/contents/data.png') center top no-repeat;
}

.buy-book {
    background: url('../img/contents/buybk-img.png') center top no-repeat;
}

.img-wrap > a:nth-child(2) {
    font-size: 11px;
}

.border-bottom-double::after {
    content: "";
    display: block;
    clear: both;
}

.paging-wrap {
    text-align: center;
    position: relative;
    margin-top: 15px;
    padding-bottom: 9px;
}

.button-wrap {
    display: inline-block;
    position: relative;
    font-size: 0;
}

.paging-wrap > .button-wrap > button {
    vertical-align: middle;
    font-size: 0;
}

.paging-wrap > .button-wrap > button + button {
    margin-left: 76px;
}

.paging {
    vertical-align: middle;
    position: absolute;
    top: 5px;
    left: 52px;
}

.paging > img + img {
    padding-left: 5px;
}

.tab-contents-wrap {
    margin-top: 14px;
}

.tab-pd-wrap {
    padding: 0 10px;
    font-size: 0;
    line-height: 0;
}

.chart-wrap-wrap {
    padding-top: 0;
}

.chart-wrap {
    background: url('../img/tab-cont/tab-line.png') left top repeat-x;
    padding-top: 6px;
    margin: 0 10px;
    position: relative;
}

.pb-115 {
    padding-bottom: 115px;
}

.refine-title {
    height: 42px;
    background: url('../img/tab-cont/title-oc-left.png') left center no-repeat;
    padding-left: 3px;
}

.refine-title-right {
    height: 42px;
    background: url('../img/tab-cont/title-oc-right.png') right center no-repeat;
    padding-right: 3px;
}

.refine-title-mid {
    height: 42px;
    background: url('../img/tab-cont/title-oc-mid.png') left center repeat-x;
    line-height: 34px;
    padding-left: 8px;
    font-size: 14px;
    color: #232323;
    vertical-align: middle;
}

.chart-wrap > ul > li {
    float: left;
    min-width: 149px;
    min-height: 25px;
}

.chart-wrap > ul > li > a {
    font-size: 0;
    display: block;
}

.chart-wrap > ul::after {
    content: "";
    display: block;
    clear: both;
}

.chart-wrap > table {
    width: 100%;
}

.chart-wrap > table > thead > tr > th {
    font-size: 14px;
    padding: 7px 0;
    padding-left: 13px;
    text-align: left;
}

.chart-wrap > table > tbody > tr > td {
    font-size: 12px;
    padding: 3px 0 3px 13px;
}

.chart-wrap > table > thead > tr > th:first-child {
    text-align: left;
    padding-left: 13px;
}

.chart-wrap > table > tbody > tr > td:first-child {
    padding-left: 13px;
}

.chart-wrap > table > tbody > tr > td:nth-child(2) {
    text-align: left;
}

#footer-wrapper {
    padding-top: 41px;
}

caption {
    display: none;
}

.search-btn-wrap {
    text-align: left;
    padding-top: 16px;
}

.ph-box-wrap {
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    margin-top: 15px;
    padding: 8px 6px;
    background-color: #fff;
}

.ph-box-wrap > p {
    text-align: left;
    font-size: 12px;
    padding: 11px;
    color: #636363;
    background: linear-gradient(#ffffff, #f4f4f4);
}

.tcont-wrapper {
    background: linear-gradient(#ffffff, #e7e7e7 , #ededed) no-repeat;
}

.input-wh-wrap {
    height: 29px;
    padding: 0 70px 0 86px;
}

input:focus .input-left {
    background: url('../img/search-area/input-focus-left.png') left center no-repeat;
}