.header-left {
    background: url('../img/header/header-leftside.png') left center no-repeat;
    padding-left: 94px;
    position: relative;
}

.header-right {
    background: url('../img/header/header-right.png') right center no-repeat;
    padding-right: 123px;
}

.header-mid {
    background: url('../img/header/header-mid.png') left 0 repeat-x;
    font-size: 12px;
}

.input-left {
    background: url('../img/search-area/input-left.png') left center no-repeat;
    padding-left: 3px;
}

.input-right {
    background: url('../img/search-area/input-right.png') right center no-repeat;
    padding-right: 3px;
}

.input-mid {
    background: url('../img/search-area/input-mid.png') left center repeat-x;
}

.ht-28 {
    height: 28px;
}

.border-bottom-double {
    background: url('../img/contents/border-double.png') left bottom repeat-x;
    padding-bottom: 6px;
}

.contents-wrap-3 {
    font-size: 11px;
    text-align: center;
    position: absolute;
    right: 19px;
    padding-left: 16px;
    padding-bottom: 5px;
}

.contents-wrap-3 > a {
    color: #787878;
    background: url('../img/contents/arrow-right-2.png') right center no-repeat;
    padding-right: 8px;
}

.book-flow-wrap {
    margin-top: 12px;
    font-size: 0;
    position: relative;
}

.shlv-left {
    position: absolute;
    background: url('../img/contents/shlv-left.png') left 0 no-repeat;
    padding-left: 22px;
    top: 85px;
    left: 0;
    right: 0;
}

.shlv-right {
    background: url('../img/contents/shlv-right.png') right 0 no-repeat;
    padding-right: 22px;
    height: 26px;
}

.shlv-mid {
    background: url('../img/contents/shlv-mid.png') center 0 repeat-x;
    height: 26px;
    min-width: 246px;
}

.book-wrap + .book-wrap {
    margin-left: 11px;
}

.book-wrap {
    position: relative;
    display: inline-block;
}

.book-wrap > a {
    display: block;
    height: 84px;
}

.txt-wrap {
    display: inline-block;
    padding-top: 16px;
    font-size: 0;
    width: 63px;
    text-align: center;
}

.txt-wrap > a {
    font-size: 11px;
    color: #6d6d6d;
}

.footer-wrap {
    margin: 0 10px;
    padding-top: 12px;
    padding-bottom: 121px;
    text-align: center;
    background: url('../img/contents/border-double.png') left top repeat-x;
}

.footer-button-wrap {
    margin-bottom: 2px;
}

.footer-wrap > .footer-button-wrap > button {
    font-size: 11px;
}

.d-ib {
    display: inline-block;
    height: 25px;
}

.btn-left-footer {
    background: url('../img/contents/footer-btn-left.png') left center no-repeat;
    padding-left: 3px;
}

.btn-right-footer {
    background: url('../img/contents/footer-right-btn.png') right center no-repeat;
    padding-right: 3px;
}

.btn-mid-footer {
    background: url('../img/contents/footer-mid-btn.png') left center repeat-x;
    padding: 0 5px 0 5px;
    line-height: 25px;
    color: #616161;
}

.footer-wrap > img {
    display: inline-block;
    padding: 0 0 1px 6px;
}

.tab-blue-wrap {
    height: 28px;
    margin-right: 1px;
}

.tab-blue-left {
    background: url('../img/tab-cont/tab-bl-left.png') left center no-repeat;
    height: 28px;
    padding-left: 4px;
}

.tab-blue-right {
    background: url('../img/tab-cont/tab-bl-right.png') right center no-repeat;
    height: 28px;
    padding-right: 4px;
}

.tab-blue-mid {
    background: url('../img/tab-cont/tab-bl-mid.png') left center repeat-x;
    height: 28px;
    padding: 0 9px 0 8px;
    line-height: 28px;
    font-size: 13px;
    vertical-align: middle;
}

.tab-blue-mid > span {
    color: #ffffff;
    font-weight: normal;
}

.tab-bd-mid > span {
    color: #585858;
    font-weight: normal;
}

.tab-bd-wrap {
    height: 28px;
    cursor: pointer;
}

.tab-bd-left {
    background: url('../img/tab-cont/tab-bdr-left.png') left center no-repeat;
    padding-left: 4px;
    height: 28px;
}

.tab-bd-right {
    background: url('../img/tab-cont/tab-bdr-right.png') right center no-repeat;
    padding-right: 4px;
    height: 28px;
}

.tab-bd-mid {
    background: url('../img/tab-cont/tab-bdr-mid.png') left center repeat-x;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    padding: 0 8px;
    vertical-align: middle;
}

.chart-list-wrap {
    margin: 10px 3px 0 3px;
}

.clw-2 {
    margin: 12px 3px 0 3px;
}

.chart-list-title {
    height: 35px;
    position: relative;
    background: url('../img/tab-cont/chart-title-bg.png') left center repeat-x;
}

.chart-list-title > h3 {
    color: #ffffff;
    font-size: 15px;
    display: inline-block;
    line-height: 35px;
    font-weight: bold;
    padding-left: 8px;
}

.chart-list-title > span {
    color: #01346c;
    font-size: 11px;
    line-height: 35px;
    margin-left: -4px;
}

#dif-ml {
    margin-left: -9px;
}

.chart-list-title > a {
    font-size: 11px;
    position: absolute;
    right: 7px;
    top: 0;
    line-height: 35px;
    color: #ffffff;
    font-family: 'dotum';
    background: url('../img/tab-cont/mini-arrow.png') right center no-repeat;
    padding-right: 8px;
}

.chart-list-cont > ul > li {
    min-height: 56px;
    background: url('../img/tab-cont/chart-list-bg.png') left center repeat-x;
}

.chart-list-cont > ul > li:last-child {
    min-height: 73px;
    background: url('../img/tab-cont/chart-list-bg-2.png') left center repeat-x;
}

.chart-list-cont > ul > li > a {
    display: block;
    height: 56px;
    padding-left: 7px;
    position: relative;
    background: url('../img/tab-cont/big-arrow.png') 296px center no-repeat;
}

.chart-list-cont > ul > li > a > p {
    font-size: 15px;
    padding-top: 12px;
    color: #000000;
}

.chart-list-cont > ul > li > a > span {
    font-size: 11px;
    color: #807f7f;
}

.chart-list-cont > ul > li:last-child > a {
    height: 73px;
    padding-right: 36px;
}

.t-21 {
    top: 21px;
}

.t-23 {
    top: 23px;
}

.big-arrow {
    position: absolute;
    right: 5px;
}

.chart-list-cont > ul > li > a > img {
    vertical-align: middle;
} 

.chart-wrap > button {
    position: absolute;
    top: 17px;
    right: 7px;
}

.input-button-wrap {
    font-size: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.input-button-wrap-2 {
    font-size: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.input-button-wrap > button {
    vertical-align: middle;
    font-size: 0;
}

.input-button-wrap-2 > button {
    vertical-align: middle;
    font-size: 0;
}

.input-style-wrap {
    display: inline-block;
    width: 50px;
    height: 29px;
    line-height: 29px;
    background: url('../img/tab-cont/input-left.png') left center no-repeat;
    padding-left: 3px;
    vertical-align: middle;
}

.dif-wt {
    width: 34px;
}

.input-style-mid {
    background: url('../img/tab-cont/input-oth.png') left center repeat-x;
    height: 29px;
}

.only-input-wrap {
    height: 29px;
    line-height: 29px;
    background: url('../img/tab-cont/input-left.png') left center no-repeat;
    padding-left: 3px;
    vertical-align: top;
}

.input-wrapper {
    margin: 0 2px 0 4px;
    position: relative;
}

.input-wrapper:not(:first-child) {
    margin-top: 4px;
}

.input-style-right {
    background: url('../img/tab-cont/input-right.png') right center no-repeat;
    padding-right: 3px;
    height: 29px;
}

.input-style-mid > input,
.only-input-wrap > input {
    width: 100%;
    border: 0;
    outline: none;
    box-sizing: border-box;
    height: 100%;
    font-family: 'dotum';
    vertical-align: middle;
    background-color: transparent;
}

.paging > .paging-circle:nth-child(1) > a,
.paging > .paging-circle:nth-child(3) > a,
.paging > .paging-circle:nth-child(4) > a {
    display: block;
    background: url('../img/contents/paging-1.png') 0 0 no-repeat;
    padding-top: 9px;
}

.paging > .paging-circle:nth-child(2) > a {
    display: block;
    background: url('../img/contents/paging-2.png') 0 0 no-repeat;
    padding-top: 11px;
    width: 10px;
}

.paging-circle:nth-child(2) {
    width: 10px;
}

.paging-circle {
    float: left;
    width: 7px;
    overflow: hidden;
}

.paging-circle + .paging-circle {
    margin-left: 5px;
}